.task
bin
frontend/dist
frontend/node_modules
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
db
cli/
tools/xlsx-extract/xlsx-extract
tools/xlsx-extract/test-output.txttools/.DS_Store
tools/xlsx-extract/xlsx-extract.exe
